<app-top-navbar></app-top-navbar>
<app-center-part></app-center-part>
<app-main-navbar></app-main-navbar>
    <h1>ADD PAPER</h1>
    <form name="paperform" #paperform="ngForm" (ngSubmit)="add()">
            <label>Paper Name</label><input type="text" [(ngModel)]="addPaper.name" name="name" placeholder="Enter Name of Course" /><br>
            <label>Course Id</label><input type="text" [(ngModel)]="addPaper.courseId" name="courseId" placeholder="Enter Course Id"/><br>
            <label>Enter Number of Questions</label><input type="number"  [(ngModel)]="addPaper.numOfQues" name="numOfQues" placeholder="Enter Number of Questions"/>    
            <label>Enter Maximum Marks</label><input type="number"  [(ngModel)]="addPaper.maxMark" name="maxMark" placeholder="Enter Maximum Marks"/>    
            <!-- <label>Enter Maximum Marks</label><input type="number"  [(ngModel)]="addcourse.numOfQues" name="numOfQues" placeholder="Enter Number of Questions"/>    
            <div> -->
            <app-add-question [addPaper]="addPaper"></app-add-question>
            <button type="submit">ADD</button>
        
    </form>

